body {
    background-color: #fbfbfb;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

a { color: #067BC2; }
a:hover { color: #067BC2; }

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

@media (min-width: 768px) {
    .nav-items li {
        padding: 0px 5px;
    }
}

.btn {
    border: 0 none;
}

h1 {
    margin-top: 20px;
}

/* PRIMARY */
.text-primary { color: #00a676 !important; }

.btn-primary {
    background-color: #00a676;
    border-color: #00a676;
}

.btn-primary:hover {
    color: #fff;
    background-color: #005B41;
    border-color: #00CE93;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 3px #97E4CE !important;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    background-color: #005B41 !important;
    background-image: none;
    border-color: #00CE93 !important;
}

/* SECONDARY */
.text-secondary {  color: #da4167 !important; }

.btn-secondary {
    background-color: #da4167;
    border-color: #da4167;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #8b1e3f;
    border-color: #EF89A2;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 3px #EF89A2 !important;
}

.btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
    background-color: #8b1e3f !important;
    background-image: none;
    border-color: #EF89A2 !important;
}

/* DANGER */
.btn-danger { background-color: #db504a; }
.text-danger { color: #db504a; }

/* CANCEL */
.btn-cancel {
    background-color: #575A5F;
    color: #fff;
}
.btn-cancel:focus, .btn-cancel:hover, .btn-cancel:active {
    background-color: #000;
    color: #fff !important;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Navbar
-------------------------------------------------- */
.navbar-expand-sm .navbar-nav .nav-link {
    font-size: 14px;
}

.navbar-nav a.text-light:hover, a.text-light:focus {
    color: #DD5274 !important;
}

.navbar-nav .btn {
    border: 0;
}

/*#dropdownMenu1:hover {
    color: #fff !important;
}*/

/*.dropdown {
    margin: 3px 10px;
}*/

a.dropdown-item:focus, button.dropdown-item:focus {
    background-color: #ced4da !important;
    color: #212529;
    outline: none !important;
}

/* Layout
-------------------------------------------------- */
#login {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 300px;
}

.font14 {
    font-size: 14px;
}

.date-sm {
    font-size: 13px;
    letter-spacing: -0.5px;
}

.trip_card, .friend_card {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 15px;
}

.trip_card h4 {
    margin: 0;
}

.notes {
    font-size: 13px;
    line-height: 16px;
    padding: 15px 0px;
}

.trip_card .row {
    margin: 0px;
}

.small_links {
    font-size: 12px;
}

.city_card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 0;
    text-align: center;
}

.city_card a, .place_card a {
    color: #212529;
    text-decoration: none;
}

.city_card img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.city_card .content {
    padding: 10px;
}

.city_card h6 {
    font-weight: normal;
    height: 40px;
}

.card {
    border: 0;
}

@media (min-width: 768px) {
    .deets {
        width: 80%;
    }
}

.deets div {
    font-size: 14px;
}

#filter_btns a {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
}

@media (min-width: 768px) {
    #filter_btns a {
        width: 24%;
    }
}

#filter_btns img {
    height: 40px;
    margin-right: 15px;
}
#filter_btns .btn_all {
    background-color: #540d6e;
}
#filter_btns .btn1 { 
    background-color: #da4167; 
}
#filter_btns .btn2 { 
    background-color: #067bc2; 
}
#filter_btns .btn3 { 
    background-color: #00a676; 
}
#filter_btns .btn1:hover { 
    background-color: #8b1e3f; 
}
#filter_btns .btn2:hover {
    background-color: #083d77;
}
#filter_btns .btn3:hover  {
    background-color: #005b41;
}
#filter_btns .btn_all:hover {
    background-color: #2F0040;
}

.places_container {
    padding: 0px 16px;
}

.place_card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.place_card p {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
}

.right {
    width: 20px;
}

.icon a, .bookmark_icon {
    color: #a1a1a1;
}

.bookmark_saved {
    color: #f4d35e;
    padding: 0 0 0 2px;
}

.btn.bookmark_saved:hover {
    color: #f4d35e;
}

.bookmark_unsaved {
    color: #a1a1a1;
    padding: 0 0 0 2px;
    font-weight: normal;
}

/* Friends
-------------------------------------------------- */

.request_container {
    background-color: #FAF1D3;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.request_container h5 {
    border-bottom: 1px solid #7C8186;
    padding-bottom: 10px;
}

.request_container table {
    width: 100%;
}

@media (min-width: 768px) {
    .request_container table {
        width: 40%;
    }
}

.request_container td {
    padding: 5px 0px;
}

.request_container .btn {
    width: 64px;
}

.friends_cities a {
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 12px;
    margin: 3px 3px 3px 0px;
    padding: 5px 10px;
    text-align: center;
}

.friends_cities a:hover {
    background-color: #067bc2;
    border-color: #067bc2;
    color: #fff;
    text-decoration: none;
}

.friend_card > div:first-child {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
}
