body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn {
    border: 0 none;
}

.btn-primary, .text-primary {
    background-color: #00a676
}

.btn-primary:focus, .btn-primary:active {
    background-color: #005B41 !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary:hover, .btn-primary:active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #005B41;
    border: 0;
}

button.btn-primary:not(:disabled):not(.disabled).active,
button.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #3a344f;
}

.btn-secondary, .text-secondary {
    background-color: #da4167;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Navbar
-------------------------------------------------- */
.navbar-expand-sm .navbar-nav .nav-link {
    font-size: 14px;
}

.navbar-nav a.text-light:hover, a.text-light:focus {
    color: red !important;
}

.navbar-nav .btn {
    border: 0;
}

/* Layout
-------------------------------------------------- */

.date-md {
    font-size: 14px;
}

.date-sm {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.5px;
}

.trip_card {
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 15px;
}

.trip_card h4 {
    margin: 0;
}

.trip_card .notes {
    font-size: 13px;
    line-height: 16px;
    padding: 15px 0px;
}

.trip_card .row {
    margin: 0px;
}

.small_links {
    font-size: 10px;
}

.small_links a {
    color: #067BC2;
}

.city_card {
    border: 1px solid #999;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.city_card a {
    color: #212529;
    text-decoration: none;
}

.city_card h6 {
    font-weight: normal;
}
