@model TripTrak.Models.City

@{
    ViewData["Title"] = "Create";
}
    <h1>@Model.Trip.Name</h1>

    <h4>Add City</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" asp-route-tripId="@Model.TripId">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>  <span class="text-danger">*</span>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" type="date" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" type="date" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notes" class="control-label"></label>
                    <textarea asp-for="Notes" class="form-control" rows="6" cols="50"></textarea>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div>
                        <a asp-controller="Trips" asp-action="Details" asp-route-id="@Model.TripId" class="btn btn-cancel">Cancel</a>
                    </div>
                </div>
                <div>
                    <span class="text-danger">* Required field</span>
                </div>
            </form>
        </div>
    </div>

  

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
