@model TripTrak.Models.City

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete City</h1>

<p>Are you sure you want to delete <strong>@Model.Name</strong> from your trip <strong>@Model.Trip.Name</strong>? You will lose all places tied to this city.</p>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Yes, Delete" class="btn btn-danger" /> 
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-cancel">Cancel</a>
    </form>
</div>
