@model TripTrak.Models.Friend
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Delete";
}

<h1>Remove Friend</h1>

@if (@UserManager.GetUserId(User) == Model.FriendBId)
{
    <h3>Are you sure you want to unfriend @Model.FriendA.FullName?</h3>
}
else
{
    <h3>Are you sure you want to unfriend @Model.FriendB.FullName?</h3>
}

<div class="mt-4 mb-1">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Unfriend" class="btn btn-danger" />
        <a asp-controller="Friends" asp-action="Index" class="btn btn-cancel">Cancel</a>
    </form>
</div>