@model IEnumerable<TripTrak.Models.ApplicationUser>

@{
    ViewData["Title"] = "AddFriend";
}

<h1 class="mb-2">Add Friend</h1>

<form asp-controller="Friends" asp-action="FriendSearch" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    </div>
</form>

@if (Model.Count() > 0) {
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <form asp-controller="Friends" asp-action="AddFriend">
                    <input type="hidden" name="id" asp-for="@item.Id" />
                    <input type="submit" value="Send Friend Request" class="btn btn-primary" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
}

