@model IEnumerable<TripTrak.Models.Friend>

@foreach (var friendship in Model)
{
    <tr>
        <td>
            @friendship.FriendB.FullName
        </td>
        <td>
            Pending
        </td>
        <td>
            <form asp-controller="Friends" asp-action="DeleteRequest">
                <input type="hidden" name="id" asp-for="@friendship.Id" />
                <input type="submit" value="Cancel" class="btn btn-cancel" />
            </form>
        </td>
    </tr>
}
