@model TripTrak.Models.Place

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Place</h1>

<p>Are you sure you want to delete <strong>@Model.Name</strong> from <strong>@Model.City.Name</strong>?</p>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Yes, Delete" class="btn btn-danger" />
        <a asp-controller="Cities" asp-action="Details" asp-route-id="@Model.CityId" class="btn btn-cancel">Cancel</a>
    </form>
</div>
