@model TripTrak.Models.ApplicationUser;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome, @User.Identity.Name!</h1>
</div>

<h5>Friend Requests</h5>
<table class="table">
    <tbody>
        @await Component.InvokeAsync("FriendRequests")
        @await Component.InvokeAsync("PendingRequests")
    </tbody>
</table>
