@model TripTrak.Models.ApplicationUser;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome, @User.Identity.Name!</h1>
</div>

<div>
    @await Component.InvokeAsync("FriendRequests")
</div>
