@model IEnumerable<TripTrak.Models.Friend>

<h3>Friend Requests</h3>
<table class="table">
    <tbody>
        @foreach (var friendship in Model)
    {
        <tr>
            <td>
                @friendship.FriendA.FirstName
            </td>
            <td>
                <form asp-controller="Friends" asp-action="AcceptRequest">
                    <input type="hidden" name="id" asp-for="@friendship.Id" />
                    <input type="submit" value="Accept" class="btn btn-primary" />
                </form>
            </td>
            <td>
                <form asp-controller="Friends" asp-action="DenyRequest">
                    <input type="hidden" name="id" asp-for="@friendship.Id" />
                    <input type="submit" value="Ignore" class="btn btn-primary" />
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>