@model IEnumerable<TripTrak.Models.Friend>

        @foreach (var friendship in Model)
    {
        <tr>
            <td>
                @friendship.FriendA.FullName
            </td>
            <td>
                <form asp-controller="Friends" asp-action="AcceptRequest">
                    <input type="hidden" name="id" asp-for="@friendship.Id" />
                    <input type="submit" value="Accept" class="btn btn-primary" />
                </form>
            </td>
            <td>
                <form asp-controller="Friends" asp-action="DeleteRequest">
                    <input type="hidden" name="id" asp-for="@friendship.Id" />
                    <input type="submit" value="Ignore" class="btn btn-cancel" />
                </form>
            </td>
        </tr>
    }